.header-link {
    padding: 10px;
}
.table-style {
    margin-top: 20px;
}
.login-form {
    margin-top: 40px;
}
.card-container {
    height: auto;
    width: 100%;
    padding: 0 20px 20px 20px;
}
.card-style {
    height: 270px;
    width: 15%;
    background: lightblue;
    border-radius: 5px;
    margin-top: 20px;
    margin: 20px;
}
.card-flex {
    display: flex;
    flex-wrap: wrap;
}
.card-image {
    height: 140px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card-text {
    padding-left: 5px;
}
.active {
    font-weight: bold;
    color: orange
}
.todo-form {
    background: lightsalmon;
    margin: 20px 0 20px 40%;
    width: 25%;
    padding: 2%;
}